machine:
  name: "Glue_Dispenser_Standardized"
  version: "3.0"

topology:
  # ==========================================
  # ENTRY: SHUTTLE
  # ==========================================
  - id: "shuttle_station"
    class: "ShuttleStation"
    is_entry: true
    logic_template: "shuttle_station"
    next_nodes: ["l1_buffer_a", "l2_buffer_a"]
    hardware_link:
      motion:
        conveyor: "shuttleConveyor"
        carrier: "ShuttleCarrier"
      sensors:
        presence: "ShuttlePalletPresenceSensorDI"
      actuators:
        stopper_up: "ShuttleCylinderUpDO"
        stopper_down: "ShuttleCylinderDownDO"
        brake: "ShuttleBrakeDO"
        entry_handshake: "EntryDO"

  # ==========================================
  # LINE 1: BUFFER A
  # ==========================================
  - id: "l1_buffer_a"
    class: "BufferStation"
    logic_template: "buffer_standard"
    next_nodes: ["exit_sink"] # ["l1_dispenser"]
    hardware_link:
      motion:
        conveyor: "l1BufferAConveyor"
      sensors:
        presence: "L1BufferAPalletPresenceSensorDI"
      actuators:
        stopper_up: "L1BufferACylinderUpDO"
        stopper_down: "L1BufferACylinderDownDO"

  # ==========================================
  # LINE 2: BUFFER A
  # ==========================================
  - id: "l2_buffer_a"
    class: "BufferStation"
    logic_template: "buffer_standard"
    next_nodes: ["exit_sink"] # ["l2_dispenser"]
    hardware_link:
      motion:
        conveyor: "l2BufferAConveyor"
      sensors:
        presence: "L2BufferAPalletPresenceSensorDI"
      actuators:
        stopper_up: "L2BufferACylinderUpDO"
        stopper_down: "L2BufferACylinderDownDO"

  # ==========================================
  # EXIT SINK
  # ==========================================
  - id: "exit_sink"
    class: "SinkComponent"
    is_exit: true
    logic_template: "exit_sink"
    hardware_link: {}